@model AcunMedya.Restaruantly.Entities.Adress
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}




<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Admin Profile</a></li>
        </ol>
    </div>
</div>

<div class="container-fluid">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Adresimiz</h4>
                <div class="basic-form">
                    <form method="post">

                        <div class="form-group">
                            @Html.HiddenFor(m => m.AdressId)
                            <label>Adres</label>
                            @Html.TextBoxFor(x => x.Location, new { @class = "form-control" })
                            <br />
                            <label>Açık Saatler</label>
                            @Html.TextBoxFor(x => x.OpenHours, new { @class = "form-control" })
                            <br />
                            <label>Email</label>
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                            <br />
                            <label>Telefon</label>
                            @Html.TextBoxFor(x => x.Call, new { @class = "form-control" })
                            
                        </div>

                        <button type="submit" class="btn btn-dark">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>









