@model List<AcunMedya.Restaruantly.Entities.Contact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    

}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">


                    <div class="email-list m-t-15">
                        @foreach (var item in Model)
                        {
                            <div class="message">
                                <a href="/contact/message/@item.ContactId">
                                    <div class="col-mail col-mail-1">
                                        <div class="email-checkbox">
                                            <input type="checkbox" id="chk2">
                                            <label class="toggle" for="chk2"></label>
                                        </div><span class="star-toggle ti-star"></span>
                                    </div>
                                    <div class="col-mail col-mail-2">
                                        <div class="subject" style="font-weight: @(item.IsRead == false ? "bold" : "normal");">
                                            @item.Subject
                                        </div>
                                        <div class="date">@item.SendDate.ToString("dd-MM-yyyy")</div>
                                    </div>
                                </a>
                            </div>
                        }





                    </div>
                        <!-- panel -->
                        
      
                </div>
            </div>
        </div>
    </div>
</div>





@*<div class="row m-2">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="active-member">
                    <div class="table-responsive">
                        <table class="table table-xs mb-0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Subject</th>
                                    <th>Message</th>
                                    <th>Time</th>
                                    <th>Okundu Bilgisi</th>
                                    <th>Oku</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    string first20Chars = item.Message.Length > 20 ? item.Message.Substring(0, 20) : item.Message;

                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Email</td>
                                        <td>@item.Subject</td>
                                        <td>
                                            <span>@first20Chars...</span>
                                        </td>
                                        <td>@item.SendDate.ToString("dd-MM-yyyy")</td>
                                        <td>@item.IsRead</td>
                                        <td>
                                            <a class="btn btn-success">
                                                Oku
                                            </a>
                                        </td>







                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@



